<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<p>직원자료</p>
{% if datas %}
	{{datas|safe}} 
{% endif %}
<hr />

부서별 연봉 합(dict): <br />
총무부(10): {{buser_group_detail.sum.10}} <br />
영업부(20): {{buser_group_detail.sum.20}} <br />
전산부(30): {{buser_group_detail.sum.30}} <br />
관리부(40): {{buser_group_detail.sum.40}} <br />
<hr />
부서별 연봉 평균(dict): <br />
총무부(10): {{buser_group_detail.avg.10}} <br />
영업부(20): {{buser_group_detail.avg.20}} <br />
전산부(30): {{buser_group_detail.avg.30}} <br />
관리부(40): {{buser_group_detail.avg.40}} <br />
<hr />
부서별 연봉 평균(df):
{% if buser_gorup %}
	{{buser_gorup|safe}} 
{% endif %}
<hr />
<img src="/static/images/buser.png"  />
</body>
</html>