<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
	window.onload = function(){
		document.querySelector("#btnOk").onclick = confirmFunc;
		document.querySelector("#btnShow").onclick = function(){
			location.href= "/guest/";
		}
	}
	
	function confirmFunc(){
		if(frm.title.value === ''){
			alert('제목입력')
		}else if(frm.content.value === ''){
			alert('내용 입력')
		}else{
			frm.submit();
		}
	}
</script>
</head>
<body>
* 방명록 글 등록 *<br />
<form action="/guest/insertOk" method='post' name="frm" onsubmit="return false">{% csrf_token %}
<table>
	<tr>
		<td>제목 : </td>
		<td><input type="text" name="title" /></td>
	</tr>
	<tr>
		<td>내용 : </td>
		<td><textarea name="content" cols="50" rows="5"></textarea></td>
	</tr>
	<tr>
		<td colspan="2" style="text-align: center">
			<input type="button" id="btnOk" value="등록하기"/>
			<input type="button" id="btnShow" value="목록보기"/>		
		</td>
	</tr>
</table>
</form>
</body>
</html>