<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>**미니 방명록**</h1>
<a href="/guest/insert">자료 추가</a>
<table border = '1'>
	<tr>
		<th>아이디</th>
		<th>제목</th>
		<th>내용</th>
		<th>등록일</th>		
	</tr>
	{% if gdatas %}
	{% for g in gdatas%}
	<tr>
		<td>{{g.id}}</td>	
		<td>{{g.title}}</td>	
		<td>{{g.content}}</td>	
		<td>{{g.regdate}}</td>	
		
	</tr>
	{% endfor  %}
	{% else %}
	<tr>
		<td colspan='4>자료가 없어요</td>
	</tr>
	{% endif %}
</table>
</body>
</html>