<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
	window.onload= function(){
		document.querySelector("#btnOk").onclick= function(){
			frm.sumbit();
		}
	}
</script>
</head>
<body>
<h1>잡채 냠냠</h1>
<table>
	<tr>
		<td><a href="page2"><img src="/static/images/k.jpg" style="width: 30%" title="best"/></a></td>
		<td>
		<pre>
			맛있는 탄탄면
			공유
			정가35,800원
			판매가32,800원구매혜택
			적립 적립금 : +320원 (상품 : 320원)
		</pre>
		</td>
	</tr>
	<tr>
		<td colspan='2'>
			<form action="cart" name="frm" method="post">
			{% csrf_token %}
				<input type="hidden" name="name" value="탄탄면"/>
				<input type="hidden" name="price" value="35000" />
				<input type="button" id="btnOk" value="장바구니에 물건 담기" />
				<input type="button" value="홈으로" onclick="history.back()"/>
			</form>
		</td>
	</tr>
</table>
</body>
</html>